*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.467);
    outline: none;
    font-family: sans-serif;
 
 }
 .container
 {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items:center;
    
 }
 .calculator{
     background-color:black;
     padding: 15px;
     border-radius: 30px;
     box-shadow: inset 5px 5px 12px grey,
                       5px 5px 12px grey;
     display:grid;
     grid-template-columns: repeat(4,68px);
 }
 input{
     grid-column: span 4;
     height: 70px;
     width: 260px;
     background-color: #454013a4;
    
     border: none;
     border-radius: 30px;
     color:rgba(255, 255, 255, 0.801);
     text-align: end;
     font-size: 50px;
     margin: auto; 
     margin-top: 40px;
     margin-bottom: 30px;
     padding: 20px;           
 }
 button{
     height: 48px;
     width: 48px;
     background-color: gray;
     
     border: none;
     border-radius: 50%;
     margin: 8px;
     font-size: 16px;
 }
 .equal{
     width: 115px;
     border-radius: 40px;
     background-color: #d80917a4;
     
 }